
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout</title>
</head>
<body>
<h1>Ajouter un film</h1>
<FORM action="" method="post">
    <P>
        <INPUT type="text" placeholder="Titre" id="titre"><BR><BR>
        <INPUT type="text" placeholder="Réalisateur" id="realisateur"><BR><BR>
        Choisir une image<INPUT type="file" placeholder="Choisir une image " id="image"><BR><BR>
        <input type="date" name="date"><br><br>
        <textarea name="synospis" rows="10" cols="50">Synospis</textarea><BR>
        <INPUT type="submit" value="Ajout ce film">
    </P>
</FORM>

</body>
</html>