<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<% include shared/menu.html %>

<div class="container">
    <h1>Configuration</h1>
    <p>Ancien nombre de film par page : <%= ancienneVal %> </p>
    <form method="post" action="">
        <p>Nouveau nombre de film par page : </p><input type="number" name="nbfilm" min="0">
        <button type="submit">  Validez</button>
    </form>
</div>

</body>
</html>