<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/css/main.css" />
  <title>9Gag Like</title>
</head>
<body>

<% include shared/menu.html %>

<div class="container">
  <div class="thumbnail">
    <article class="caption">
      <h3><%= film.titre %></h3>
      <h4>Par <%= film.realisateur %></h4>
      <article style="display: inline-block"><img src="<%= '/' + film.affiche%>" alt="..."></article>
      <aside style="display: inline-block">
        <p>Date de Sortie : <%= film.dateSortie%></p>
        <p>Date de mise en Ligne : <%= film.dateUpload %></p>
        <p> Synopsis : <%= film.sypnosis %></p>
      </aside>
  </div>
<div id="comments">
  <% film.avis.forEach(function(comment) { %>
  <div>
    <h4>Vos AVIS :</h4>
    <p><%= comment.pseudo %> : <%=comment.note%>/10 </p>
    <p><%= comment.avis %></p>
  </div>
  <% }) %>
</div>
<div>
  <form method="POST" class="horizontal-form">
    <h4> Poster votre avis:</h4>
    <div class="form-group">
      <Label for="pseudo" >Pseudo : </Label>
      <input type="text" id="pseudo" name="pseudo" class="form-control" />
    </div>
    <div class="form-group">
      <Label for="comment">Commentaire : </Label>
      <textarea id="comment" name="comment" class="form-control"></textarea>
    </div>
    Donnez une note à ce film :
    <div class="form-group">
      <input type="radio" name="note" value=1> 1
      <input type="radio" name="note" value=2> 2
      <input type="radio" name="note" value=3> 3
      <input type="radio" name="note" value=4> 4
      <input type="radio" name="note" value=5> 5
      <input type="radio" name="note" value=6> 6
      <input type="radio" name="note" value=7> 7
      <input type="radio" name="note" value=8> 8
      <input type="radio" name="note" value=9> 9
      <input type="radio" name="note" value=10> 10
    </div>
    <button type="submit" class="btn btn-primary">Commenter</button>
  </form>
</div>
</div>


</body>
</html>
