<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>9Gag Like</title>
  </head>
  <body>

    <% include shared/menu.html %>

    <div class="container">
      <div class="thumbnail">
        <img src="<%= '/' + film.picture %>" alt="...">
        <div class="caption">
          <h3><%= post.title %></h3>
          <p><%= post.author %></p>
        </div>
      </div>
      <div id="comments">
        <% post.comments.forEach(function(comment) { %>
          <div>
            <p><%= comment.pseudo %></p>
            <p><%= comment.comment %></p>
          </div>
        <% }) %>
      </div>
      <div>
        <form method="POST" class="horizontal-form">
          <div class="form-group">
            <input type="text" name="pseudo" class="form-control" />
          </div>
          <div class="form-group">
            <textarea name="comment" class="form-control"></textarea>
          </div>
          Donnez une note à ce film :
          <div class="form-group">
            <input type="radio" name="un" value=1> 1
            <input type="radio" name="deux" value=2> 2
            <input type="radio" name="trois" value=3> 3
            <input type="radio" name="quatre" value=4> 4
            <input type="radio" name="cinq" value=5> 5
            <input type="radio" name="six" value=6> 6
            <input type="radio" name="sept" value=7> 7
            <input type="radio" name="huit" value=8> 8
            <input type="radio" name="neuf" value=9> 9
            <input type="radio" name="dix" value=10> 10
          </div>
          <button type="submit" class="btn btn-primary">Commenter</button>
        </form>
      </div>
    </div>


  </body>
</html>
