<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css">
    <title>9Gag Like</title>
</head>
<body>

<% include shared/menu.html %>

<div class="container">
    <% films.forEach(function(film) { %>
    <a href="/film/<%= film.id %>" class="btn btn-primary" role="button">
        <div class="thumbnail">
            <div class="caption">
                <h3><%= film.titre %></h3>
                <h4>By <%= film.realisateur %></h4>
            </div>
            <img height="600px" width="800px" src="<%= '/' + film.affiche %>" alt="...">
        </div>
    </a>
    <% }) %>

<ul class="pagination">
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
</ul>
</div>
</body>
</html>
