<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>

<% include shared/menu.html %>

<div class="container">
    <h1>Top 3 des films les mieux notés</h1>
    <div class="container">
        <% films.forEach(function(film) { %>
        <a href="/film/<%= film.id %>" class="btn btn-primary" role="button">
            <div class="thumbnail" style="width: 100%">
                <div class="caption">
                    <h3><%= film.titre %></h3>
                    <h4>By <%= film.realisateur %></h4>
                </div>
                <img height="600px" width="800px" src="<%= '/' + film.affiche %>" alt="...">
            </div>
        </a>
        <% }) %>
    </div>
</div>
</body>
</html>