<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular</title>
</head>
<body>
<h1>Top 3 des films les mieux notés</h1>
<div class="container">
    <div class="thumbnail">
        <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTEJlX9_RKvgnHDHcMUrEL0zFDtz8LEEVGvfnxkJYBM972HVlv0">
        <div class="caption">
            <h3>Titre</h3>
            <p>Auteur</p>
            <p><a href="#" class="btn btn-primary" role="button">Detail</a></p>
        </div>
    </div>
</div>
</body>
</html>